// Here you can add other styles
body {
	.card-header {
		background-color: #eff4fb;
	}
	.ev-danger {
		background-color: #f86c6b;
		color: #eff4fb;
	}
	.ev-danger:hover {
		background-color: #ee3d3d;
		color: #eff4fb;
	}
	.ev-ticket-pre {
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	.dropdown-menu {
		.dropdown-item {
			padding: 3px 20px;
		}
	}

	.app-header {
		background-color: #131b25;
		color: #fff;
		border-bottom: none;

		.navbar-nav {
			.nav-link {
				color: #eee;
			}
			.nav-link:hover {
				color: #73818f;
			}
		}
	}

	.app-body {
		.sidebar {
			background-color: #122e46;
		}
	}

	.main {
		background-image: url('./assets/img/different-hues-of-color-of-the-sky-2847648.jpg');
		background-size: cover;
		.breadcrumb {
			background-color: #0f101a;
			border-bottom: none;
			.breadcrumb-item {
				a {
					color: #20a8d8;
				}
			}
		}
	}

	.app-footer {
		background-color: #3a2e4a;
		color: #fff;
		a {
			color: #f86c6b;
		}
		border-top: none;
	}

	.serverStatus {
		border: none;
	}
}